/* hover effect for cards */
.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
    background-color: #abd4fc;
}

.modal-body {
    max-height: 70vh; /* Giới hạn chiều cao để tránh tràn dọc */
    overflow-y: auto; /* Thanh cuộn dọc nếu cần */
    overflow-x: hidden; /* Ngăn tràn ngang */
    word-wrap: break-word; /* Cho phép xuống dòng khi cần */
    word-break: break-all; /* Chia nhỏ từ để xuống dòng */
}